<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SH设备配置系统</title>

    <!-- Element Plus CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />

    <!-- 自定义样式 -->
    <link rel="stylesheet" href="~/css/config/config-layout.css" />
    <!-- Vue.js和Element Plus -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/element-plus/dist/index.full.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- 通用脚本 -->
    <script src="~/js/config/config-common.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <!-- 导航栏 -->
    <nav class="navbar">
        <div class="navbar-brand">SH设备配置系统</div>
        <div class="navbar-nav">
            @await Html.PartialAsync("_ConfigNavigation")
        </div>
    </nav>

    <!-- 主内容区 -->
    <main class="main-content">
        @RenderBody()
    </main>

 


</body>
</html>