<el-card class="config-card" header="数据块管理">
    <div class="datablock-manager">
        <!-- 操作工具栏 -->
        <div class="datablock-toolbar" style="margin-bottom: 20px;">
            <el-button type="primary" onclick="addDataBlock">
                <el-icon><Plus /></el-icon>添加数据块
            </el-button>
            <el-button onclick="importDataBlocks">
                <el-icon><Upload /></el-icon>批量导入
            </el-button>
            <el-button onclick="exportDataBlocks">
                <el-icon><Download /></el-icon>导出配置
            </el-button>
            <div style="float: right;">
                <el-input
                    v-model="datablockSearchText"
                    placeholder="搜索数据块"
                    style="width: 200px;"
                    clearable>
                    <template #prepend>
                        <el-icon><Search /></el-icon>
                    </template>
                </el-input>
            </div>
        </div>

        <!-- 数据块列表 -->
        <el-table :data="filteredDataBlocks" style="width: 100%" border>
            <el-table-column prop="name" label="数据块名称" width="180">
                <template #default="scope">
                    <el-input
                        v-if="scope.row.editing"
                        v-model="scope.row.name"
                        size="small"
                        placeholder="请输入数据块名称">
                    </el-input>
                    <span v-else>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            
            <el-table-column prop="startAddress" label="起始地址" width="150">
                <template #default="scope">
                    <el-input
                        v-if="scope.row.editing"
                        v-model="scope.row.startAddress"
                        size="small"
                        placeholder="例如: D100">
                    </el-input>
                    <el-tag v-else type="info" size="small">{{ scope.row.startAddress }}</el-tag>
                </template>
            </el-table-column>
            
            <el-table-column prop="length" label="长度" width="120">
                <template #default="scope">
                    <el-input-number
                        v-if="scope.row.editing"
                        v-model="scope.row.length"
                        :min="1"
                        :max="1000"
                        size="small"
                        style="width: 100%">
                    </el-input-number>
                    <span v-else>{{ scope.row.length }}</span>
                </template>
            </el-table-column>
            
            <el-table-column prop="updateInterval" label="更新间隔(ms)" width="150">
                <template #default="scope">
                    <el-input-number
                        v-if="scope.row.editing"
                        v-model="scope.row.updateInterval"
                        :min="100"
                        :max="10000"
                        :step="100"
                        size="small"
                        style="width: 100%">
                    </el-input-number>
                    <span v-else>{{ scope.row.updateInterval }}</span>
                </template>
            </el-table-column>
            
            <el-table-column label="状态" width="100">
                <template #default="scope">
                    <el-tag :type="getDataBlockStatusType(scope.row)" size="small">
                        {{ getDataBlockStatus(scope.row) }}
                    </el-tag>
                </template>
            </el-table-column>
            
            <el-table-column label="操作" width="250" fixed="right">
                <template #default="scope">
                    <el-button-group v-if="!scope.row.editing">
                        <el-button size="small" onclick="editDataBlock(scope.$index)">
                            <el-icon><Edit /></el-icon>编辑
                        </el-button>
                        <el-button size="small" onclick="testDataBlock(scope.row)">
                            <el-icon><View /></el-icon>测试
                        </el-button>
                        <el-popconfirm 
                            title="确定删除这个数据块吗？" 
                            @* @confirm="deleteDataBlock(scope.$index)" *@
                            confirm-button-text="确定"
                            cancel-button-text="取消">
                            <template #reference>
                                <el-button size="small" type="danger">
                                    <el-icon><Delete /></el-icon>删除
                                </el-button>
                            </template>
                        </el-popconfirm>
                    </el-button-group>
                    
                    <el-button-group v-else>
                        <el-button size="small" type="primary" onclick="saveDataBlock(scope.$index)">
                            <el-icon><Check /></el-icon>保存
                        </el-button>
                        <el-button size="small" onclick="cancelEdit(scope.$index)">
                            <el-icon><Close /></el-icon>取消
                        </el-button>
                    </el-button-group>
                </template>
            </el-table-column>
        </el-table>

        <!-- 分页 -->
        <el-pagination
            v-if="plcConfig.dataBlocks.length > 10"
            v-model:current-page="datablockCurrentPage"
            v-model:page-size="datablockPageSize"
            :page-sizes="[10, 20, 50]"
            :total="plcConfig.dataBlocks.length"
            layout="total, sizes, prev, pager, next, jumper"
            style="margin-top: 20px; text-align: right;">
        </el-pagination>

        <!-- 数据块配置说明 -->
        <el-collapse style="margin-top: 20px;">
            <el-collapse-item title="数据块配置说明" name="help">
                <div class="datablock-help">
                    <h4>数据块配置指南:</h4>
                    <ul>
                        <li><strong>数据块名称:</strong> 用于标识数据块的唯一名称</li>
                        <li><strong>起始地址:</strong> PLC中的起始地址，如 D100、M200 等</li>
                        <li><strong>长度:</strong> 连续读取的数据长度（字数）</li>
                        <li><strong>更新间隔:</strong> 数据刷新的时间间隔，建议不少于200ms</li>
                    </ul>
                    <p><el-tag type="warning" size="small">注意</el-tag> 过短的更新间隔可能影响PLC性能</p>
                </div>
            </el-collapse-item>
        </el-collapse>
    </div>
</el-card>

<style scoped>
.datablock-toolbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.datablock-help ul {
    margin: 10px 0;
    padding-left: 20px;
}

.datablock-help li {
    margin: 5px 0;
    line-height: 1.6;
}

.datablock-help h4 {
    margin: 0 0 10px 0;
    color: #303133;
}
</style>