<el-card class="config-card" header="超时参数配置">
    <el-form :model="plcConfig" :rules="timeoutRules" ref="timeoutForm" label-width="150px">
        <el-row :gutter="24">
            <el-col :span="12">
                <el-form-item label="连接超时(ms)" prop="connectTimeout">
                    <el-input-number
                        v-model="plcConfig.connectTimeout"
                        :min="1000"
                        :max="30000"
                        :step="100"
                        style="width: 100%">
                    </el-input-number>
                    <div class="form-help-text">建议值: 3000-10000ms</div>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="接收超时(ms)" prop="receiveTimeout">
                    <el-input-number
                        v-model="plcConfig.receiveTimeout"
                        :min="1000"
                        :max="30000"
                        :step="100"
                        style="width: 100%">
                    </el-input-number>
                    <div class="form-help-text">建议值: 2000-5000ms</div>
                </el-form-item>
            </el-col>
        </el-row>

        <el-row :gutter="24">
            <el-col :span="12">
                <el-form-item label="轮询间隔(ms)" prop="pollingInterval">
                    <el-input-number
                        v-model="plcConfig.pollingInterval"
                        :min="100"
                        :max="10000"
                        :step="100"
                        style="width: 100%">
                    </el-input-number>
                    <div class="form-help-text">建议值: 500-2000ms</div>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="重连间隔(ms)" prop="reconnectInterval">
                    <el-input-number
                        v-model="plcConfig.reconnectInterval"
                        :min="1000"
                        :max="60000"
                        :step="1000"
                        style="width: 100%">
                    </el-input-number>
                    <div class="form-help-text">建议值: 3000-10000ms</div>
                </el-form-item>
            </el-col>
        </el-row>

        <el-row :gutter="24">
            <el-col :span="12">
                <el-form-item label="最大重试次数" prop="maxRetryCount">
                    <el-input-number
                        v-model="plcConfig.maxRetryCount"
                        :min="1"
                        :max="10"
                        style="width: 100%">
                    </el-input-number>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="自动重连">
                    <el-switch
                        v-model="plcConfig.enableAutoReconnect"
                        active-text="启用"
                        inactive-text="禁用">
                    </el-switch>
                    <div class="form-help-text">连接断开时自动尝试重连</div>
                </el-form-item>
            </el-col>
        </el-row>

        <!-- 超时配置说明 -->
        <el-row>
            <el-col :span="24">
                <el-alert
                    title="超时参数说明"
                    type="info"
                    :closable="false"
                    show-icon>
                    <ul style="margin: 0; padding-left: 20px;">
                        <li>连接超时: 建立PLC连接的最大等待时间</li>
                        <li>接收超时: 等待PLC响应的最大时间</li>
                        <li>轮询间隔: 定期读取PLC数据的时间间隔</li>
                        <li>重连间隔: 连接断开后重新连接的时间间隔</li>
                    </ul>
                </el-alert>
            </el-col>
        </el-row>
    </el-form>
</el-card>

<style scoped>
.form-help-text {
    font-size: 12px;
    color: #909399;
    margin-top: 4px;
}
</style>